{% extends 'base.html' %}

{% block title %}
Jenis Jalan
{% endblock %}

{% block content %}
<main class="container w-75">
    <div class="mt-5 mx-auto">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <div class="my-3">
                <h1 class="text-center">Data Jenis Jalan 2021</h1>
            </div>
            <!-- fitur sort by -->
            <!-- <div class="px-2">
            <span class="me-2"><i class="bi bi-arrow-down-up"></i>
                Sort By:</span>
            <select class="form-select">
                <option selected>Default</option>
                <option value="1">Kode Provinsi</option>
                <option value="2">Provinsi</option>
                <option value="3">Panjang jalan</option>
                <option value="4">Kelayakan</option>
                <option value="5">Kurang layak</option>
            </select>
            <i class="fas fa-sort ms-2"></i>
        </div> -->
        </div>
        <div class="table-responsive">
            <table class="table table-responsive table-borderless">
                <thead>
                    <tr class="bg-light">
                        <th scope="col">Kode Provinsi</th>
                        <th scope="col">Provinsi</th>
                        <th scope="col">Sudah dipaving</th>
                        <th scope="col">Persentase sudah dipaving</th>
                        <th scope="col">Belum dipaving</th>
                        <th scope="col">Persentase belum dipaving</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{ data.Kd_Prov }}</td>
                        <td>{{ data.Provinsi }}</td>
                        <td>{{ data.Paved }}</td>
                        <td>{{ data.Paved_percent }} %</td>
                        <td>{{ data.UnPaved }}</td>
                        <td>{{ data.UnPaved_percent }} %</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}