{% extends 'base.html' %}

{% block title %}
Kelayakan Jalan
{% endblock %}

{% block content %}
<main class="container w-75">
    <div class="mx-auto mt-5">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <div class="my-3">
                <h1 class="text-center">Data Kelayakan Jalan 2021</h1>
            </div>
            <!-- fitur sort by -->
            <!-- <div class="px-2">
            <span class="me-2"><i class="bi bi-arrow-down-up"></i>
                Sort By:</span>
            <select class="form-select">
                <option selected>Default</option>
                <option value="1">Kode Provinsi</option>
                <option value="2">Provinsi</option>
                <option value="3">Panjang jalan</option>
                <option value="4">Kelayakan</option>
                <option value="5">Kurang layak</option>
            </select>
            <i class="fas fa-sort ms-2"></i>
        </div> -->
        </div>
        <div class="table-responsive">
            <table class="table table-responsive table-borderless">
                <thead>
                    <tr class="bg-light">
                        <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                        <th scope="col">Kode Provinsi</th>
                        <th scope="col">Provinsi</th>
                        <th scope="col">Layak</th>
                        <th scope="col">Persentase Layak</th>
                        <th scope="col">Kurang layak</th>
                        <th scope="col">Persentase Kurang layak</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <!-- <th scope="row"><input class="form-check-input" type="checkbox"></th> -->
                        <td>{{ data.Kd_Prov }}</td>
                        <td>{{ data.Provinsi }}</td>
                        <td>{{ data.Mantap_km }}</td>
                        <td>{{ data.Mantap_percent }} %</td>
                        <td>{{ data.TMantap_km }}</td>
                        <td>{{ data.TMantap_percent }} %</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="fixed-bottom text-center mt-4 mb-2">
        <p>&copy; 2023 PBD. All Rights Reserved.</p>
    </footer>
</main>
{% endblock %}