{% extends 'base.html' %}

{% block title %}
Kelayakan Jalan
{% endblock %}

{% block content %}
<main class="container w-75">
    <div class="mx-auto mt-5">
        <div class="d-flex justify-content-center">
            <h2>Kelayakan Jalan</h2>
        </div>
        <div class="mt-2 mb-2 row justify-content-end">
            <div class="col-lg-3">
                <div class="position-relative">
                    <form class="mb-3 d-flex justify-content-end"> 
                        <input class="form-control py-2 rounded-5" type="text" name="search" placeholder="Search here">
                    </form>
                </div>
            </div>
            <!-- fitur sort by -->
            <!-- <div class="px-2">
            <span class="me-2"><i class="bi bi-arrow-down-up"></i>
                Sort By:</span>
            <select class="form-select">
                <option selected>Default</option>
                <option value="1">Kode Provinsi</option>
                <option value="2">Provinsi</option>
                <option value="3">Layak</option>
                <option value="4">Persentase layak</option>
                <option value="5">Kurang layak</option>
                <option value="6">Persentase kurang layak</option>
            </select>
            <i class="fas fa-sort ms-2"></i>
        </div> -->
        </div>
        <div class="table-responsive">
            <table class="table table-responsive table-borderless">
                <thead>
                    <tr class="bg-light">
                        <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                        <th scope="col">Kode Provinsi</th>
                        <th scope="col">Provinsi</th>
                        <th scope="col">Layak</th>
                        <th scope="col">Persentase layak</th>
                        <th scope="col">Kurang layak</th>
                        <th scope="col">Persentase kurang layak</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <!-- <th scope="row"><input class="form-check-input" type="checkbox"></th> -->
                        <td >{{ item.Kd_Prov }}</td>
                        <td>{{ item.Provinsi }}</td>
                        <td style="white-space: nowrap;"><small class="text-success">{{ item.Mantap_km }}Km</small></td>
                        <td style="white-space: nowrap;"><small class="text-success"><i class="bi bi-caret-up-fill"></i> {{ item.Mantap_percent }}%</small></td>
                        <td style="white-space: nowrap;"><small class="text-danger"></i> {{ item.TMantap_km }}</small></td>
                        <td style="white-space: nowrap;"><small class="text-danger"><i class="bi bi-caret-down-fill"></i> {{ item.TMantap_percent }}%</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}