{% extends 'base.html' %}

{% block title %}
Team Member
{% endblock %}

{% block content %}
<main class="container w-75">
    <div class="mx-auto mt-2">
        <div class="bootdey">
            <div class="row">
                <div class="text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mt-3 mb-4">Meet our team</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Anggota kelompok Pemrograman Basis Data</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row row-cols-2">
                <div class="col-md-6 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                            class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-4">Ilham Mulia</h4>
                            <small class="text-muted">212102007</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/ilhaammulia/" target="_blank" class="rounded"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.twitter.com/ilhaammulia" class="rounded"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://github.com/ilhaammulia" target="_blank" class="rounded"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-4">Stani A.Sinay</h4>
                            <small class="text-muted">212102031</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/stani130902/" target="_blank" class="rounded"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" target="_blank" class="rounded"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                            class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-4">A.A.N.S. Putra Cakra Baskara</h4>
                            <small class="text-muted">212102016</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/agungsatria._/" target="_blank" class="rounded"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://github.com/23Bas" target="_blank" class="rounded"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                            class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-4">M. Abu Amar Al Badawi</h4>
                            <small class="text-muted">212102028</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/abuuamar_/" target="_blank" class="rounded"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://github.com/abuamar142" target="_blank" class="rounded"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="bi bi-linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>
    </div>
</main>
{% endblock %}